<mat-toolbar>
  <img
    src="images/logo-rb.png"
    alt="logo"
    (click)="navigateTo('/')"
    class="title"
  />

  <span class="spacer"></span>

  @if (isLoggedIn) {
  <button mat-button (click)="logout()">
    <mat-icon>logout</mat-icon>Logout
  </button>
  <button mat-button (click)="navigateTo('/admin')">
    <mat-icon> library_books </mat-icon>Articles
  </button>
  } @else {
  <button mat-button (click)="navigateTo('login')">
    <mat-icon>login</mat-icon>Admin
  </button>
  }
</mat-toolbar>
