<div>
  <header class="section">
    <h1>Admin panel</h1>
    <p>Tu môžete spravovať články.</p>
  </header>
  <div class="add-article-button">
    <button mat-raised-button color="primary" (click)="openDialog()">
      Pridať článok
    </button>
  </div>
  <section class="articles-section">
    <div class="articles-container">
      @for (article of articles; track article.id) {
      <mat-card class="article-card">
        <mat-card-header>
          <mat-card-title class="card-title">
            {{ article.title }}
            <span class="action-buttons">
              <button mat-icon-button (click)="updateArticle(article)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteArticle(article.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </span>
          </mat-card-title>
          <mat-card-subtitle>{{ article.category }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ article.content }}</p>
        </mat-card-content>
      </mat-card>
      }
    </div>
  </section>
</div>

<ng-template #dialogTemplateRegister let-data>
  <form [formGroup]="regForm" class="dialog-container" (ngSubmit)="submit()">
    <h2>Pridajte článok</h2>
    <mat-form-field>
      <input matInput placeholder="Názov" formControlName="title" required />
      @if(title?.errors?.['required']){
      <mat-error>Názov je povinný</mat-error>
      } @else{
      <mat-error>Názov musí mať aspoň 3 znaky</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Kategória"
        formControlName="category"
        required
      />
      @if(category?.errors?.['required']){
      <mat-error>Kategória je povinná</mat-error>
      } @else{
      <mat-error>Kategória musí mať aspoň 3 znaky</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Obsah"
        formControlName="content"
        required
      ></textarea>
      @if(content?.errors?.['required']){
      <mat-error>Obsah je povinný</mat-error>
      } @else{
      <mat-error>Obsah musí mať aspoň 10 znakov</mat-error>
      }
    </mat-form-field>
    <div class="dialog-buttons">
      <button mat-raised-button (click)="closeDialog()">Zrušiť</button>
      <button mat-raised-button color="primary" type="submit">Pridať</button>
    </div>
  </form>
</ng-template>
