<div>
  <header class="section">
    <h1>Admin panel</h1>
    <p>Here you can manage articles.</p>
  </header>
  <div class="add-article-button">
    <button mat-raised-button color="primary" (click)="openDialog()">
      Add an article
    </button>
  </div>
  <section class="articles-section">
    <div class="articles-container">
      @for (article of displayedArticles; track article.id) {
      <mat-card class="article-card">
        <mat-card-header>
          <mat-card-title class="card-title">
            {{ article.title }}
            <span class="action-buttons">
              <button mat-icon-button (click)="updateArticle(article)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="deleteArticle(article.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </span>
          </mat-card-title>
          <mat-card-subtitle>{{ article.category }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ article.content }}</p>
        </mat-card-content>
      </mat-card>
      }
    </div>
  </section>
</div>

<ng-template #dialogTemplateRegister let-data>
  <form [formGroup]="regForm" class="dialog-container" (ngSubmit)="submit()">
    <h2>Add an article</h2>
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="title" required />
      @if(title?.errors?.['required']){
      <mat-error>Name is required</mat-error>
      } @else{
      <mat-error>The name must have at least 3 characters</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Category"
        formControlName="category"
        required
      />
      @if(category?.errors?.['required']){
      <mat-error>Category is required</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Content"
        formControlName="content"
        required
      ></textarea>
      @if(content?.errors?.['required']){
      <mat-error>Content is required</mat-error>
      } @else{
      <mat-error>Content must be at least 10 characters long</mat-error>
      }
    </mat-form-field>
    <div class="dialog-buttons">
      <button mat-raised-button (click)="closeDialog()">Cancel</button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!regForm.valid"
      >
        Add
      </button>
    </div>
  </form>
</ng-template>

<mat-paginator
  [length]="totalArticles"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 15, 25, 30]"
  aria-label="Select page"
  (page)="onPageChange($event)"
></mat-paginator>
