<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <mat-card-title class="title">Prihlásenie</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="inputs">
      <mat-form-field>
        <mat-label>Prihlasovacie meno</mat-label>
        <input
          matInput
          [(ngModel)]="userLogin.username"
          name="username"
          placeholder="Napíšte svoje meno"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Heslo</mat-label>
        <input
          matInput
          [(ngModel)]="userLogin.password"
          [type]="hide ? 'password' : 'text'"
          name="passwod"
          placeholder="Napíšte svoje heslo"
        />
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions class="actions">
    <button mat-button class="login_button" (click)="login()">Login</button>
  </mat-card-actions>
</mat-card>
